html {
    background-color: midnightblue;
}

img {
    height: 300px;
}

#MrSleepyHead {
    display: block;
    margin: auto;
    border-radius: 100px;
}

#DreamAway {
    display: block;
    margin-left: auto;
    margin-bottom: auto;
    border-radius: 20%;
}

#WakeUp {
    display: block;
    margin-right: auto;
    margin-bottom: auto;
}