html{
    text-align: center;
    background-color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: white;
   letter-spacing: 0px;
}

body{
    width: auto;
    height: auto;
}
button {
    cursor: grabbing;
   justify-content: center;
    height: auto;
    border-style: inset;
    background: none;
    color: azure;
    font-family: inherit;
}

#char {
    height: 300px;
   border-radius: 100px;
}
#Pudding{
    margin: auto;
    height: 250px;
}