html,

body {
    background-color: darkorchid;
    height: 95%;
    width: 95%;
}

span {
    background-color: blue;
    height: 2px;
    width: 2px;
    display: block;
    padding-block: 0;
    transform: matrix(20,0,0,20,0,0);
    
}
wall{
    background-color: purple;
    height: 2px;
    width: 2px;
    display: block;
    padding-block: 0;
    transform: matrix(20,0,0,20,0,0);
    
}

