html, 



body {
    background-color: grey;
    width: 3000px;
    height: 800px;
    display:inline-block;
    margin: 1;
}

span {
    background-color: yellow;
    height: 2px;
    width: 2px;
    display: inline-flex;
    transform: matrix(20,0,0,20,0,0);
    
}
wall{
    background-color: blueviolet;
    display: inline-flex;
    height: 2px;
    width: 2px;
    transform: matrix(20,0,0,20,0,0);
    
}

