body{
    height: 1020px;
    width: 1080px;
    cursor: pointer;
}

div{
    display:inline-block;
    border-color: black;
    border-style: dotted;
    border-radius:20px;
    height: 60%;
    width: 49%;
    text-align: center;
    box-sizing: border-box;
}
#cursorSpan {
    position: fixed;
    background-color: aqua;
    size: 50px;
    border-radius: 5px;
    border-color: black;
    pointer-events: none;
    top: 10px;
}