html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;

}

body {
    background-color: black;

}

span {
    background-color: aqua;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: fixed;

    transform: matrix(20, 0, 0, 20, 0, 0);
}