body {
    background-color: midnightblue;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#MrSleepyHead {
    display: block;
    padding-top: 300px;
    margin: auto;
    border-radius: 100px;
    height: 300px;
    box-shadow: inset;
}

#progress_button {
    float: right;
    border-radius: 20%;
    height: 300px;
    opacity: 100%;
    transition-duration: 0.5s;
    box-shadow: inset;
}

#progress_button:hover {
    opacity: 50%;
    transition-duration: 0.5s;
}

#exit_button {
    float: left;
    height: 300px;
    opacity: 30%;
    transition-duration: 0.5s;
    box-shadow: inset;
}

#exit_button:hover {
    opacity: 100%;
    transition-duration: 0.5s;
}